{% extends 'base.html.twig' %}

{% block body %}
  <div class="sub-header">
    <div class="auth-container">
      {% include 'partials/alert.html.twig' %}
      {% if error %}
        <alert-message type="danger">
          {{ error.messageKey | trans(error.messageData, 'security') }}
        </alert-message>
      {% endif %}
      {{ form_start(form, {attr: {class: 'auth-form'}}) }}
        <h1 class="auth-title">Reset password</h1>
        {{ form_row(form.password.first, {label: 'New password'}) }}
        {{ form_row(form.password.second, {label: 'New confirm password'}) }}
        <button type="submit" class="btn-gradient">Change password</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}

